.card {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2rem;
    max-width: 413px;
    justify-self: center;
    
}

.card__content {
    margin: 12px 0; 
    padding: 0;
    height: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-sizing: border-box;
}

.card__image {
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 8px;
    min-width: 413px;
    min-height: 413px;
    max-width: 413px;
    max-height: 413px;
}

.card__title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;

}

.card__like-button {
    width: 23px;
    height: 20px;
    background-color: transparent;
    border: none;
    opacity: 40%;
    transition: opacity 0.2s ease;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.card__like-button:hover {
    opacity: 100%;
}

.card__like-image {
}

@media screen and (max-width: 500px) {
    .card { 
        min-height: 288px;
        max-width: 288px;
    }

    .card__image {
        min-width: 288px;
        width: 100%;
        max-height: 288px;
    }

    .card__title {
        font-size: 1rem;
    }
}
