.header {
    margin: 0 0 34px 0;
    height: 46px;   
    padding: 10px 0 10px;
    background-color: #FFFFFFCC;
    display: flex;
    justify-content: center;
}

.header__logo {
    height: 26px;
    width: 94px;
}

@media screen and (max-width: 840px) {
    .header {
        margin: 0 0 20px 0;
    };
}