.profile {
    padding: 0 0 20px;
    border-bottom:  1px solid rgba(33, 33, 33, 0.4);
    display: grid;
    grid-template-columns: 210px 420px 1fr;
}

.profile__avatar {
    height: 190px;
    width: 190px;
    margin-right: 20px;
    border-radius: 8px;
}

.profile__column {
    max-width: 420px;
    padding: 0;
    margin: 0;
    justify-self: flex-start; 
    display: grid;
    grid-template-rows: repeat(2, min-content) 1fr;     
}

.profile__name {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 2rem; 
    line-height: 2rem;
    font-weight: normal;
    text-overflow: ellipsis;
    margin: 0 0 12px;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.profile__description {
    margin: 0 0 18px;
    font-family: "Poppins";
    font-size: 1rem;
    line-height: 1rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.profile__edit-button {
    flex-grow: 1;
    color: rgba(33, 33, 33, 1);
    font-style: normal; 
    align-self: flex-end;
    text-decoration: none;
    opacity: 70%;
    transition: opacity 0.2s ease;
    display: flex;
    border: none;
    padding: 0;
    background-color: rgba(252, 245, 229);
    cursor: pointer;
}

.profile__pencil-icon {
    height: 16px;
    padding: 0;
    margin: 0 8px 0 0;
    align-self: center;
}

.profile__edit-button:hover {
    opacity: 100%;
}

.profile__add-button {
    justify-self: right;
    align-self: flex-end;
    padding: 0;
    border: none;
    background-color: rgba(252, 245, 229);
    width: 157px;
    height: 52px;
    padding: 18px 32px 18px 32px;
    background-color: rgba(33, 33, 33, 1);
    color: rgba(252, 245, 229, 1);
    border-radius: 8px;
    transition: opacity 0.2s ease;
    font-size: 16px;
    cursor: pointer;

}

.profile__add-button:hover {
    background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 840px) {
    .profile {
        grid-template-columns: auto;
        grid-template-rows: repeat(3 min-content);
        justify-items: center;
    }

    .profile__avatar {
        margin: 0;
    }
    
    .profile__column {
        max-width: 288px;
        justify-items: center;
        margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 20px;   
        /* height: auto; */
        text-align: center;
    }

    .profile__name {
        margin: 0 0 6px;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 500;
    }

    .profile__description {
        /* margin: 0 0 32px; */
    }

    .profile__add-button {
        max-width: 288px;
        width: 100%;
        justify-self: center;
        cursor: pointer;
    }
}

@media screen and (max-width: 500px) {

    .profile__avatar {
        height: 80px;
        width: 80px;
    }

}