.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: rgba(1, 1, 1, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility,
    0.6s ease;
}

.modal_open {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: min-content;
  min-width: 500px;
  max-width: 730px;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
}

.modal__title {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 32px;
}

.modal__button {
  margin: 0;
  border-radius: 8px;
  padding: 18px 32px;
  max-height: 52px;
  max-width: 156px;
  background-color: black;
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
}

/* .modal__submit-button {
    margin: 0;
    border-radius: 8px;
    padding: 18px 32px;
    max-height: 52px;
    max-width: 156px;
    background-color: black;
    color: rgba(252, 245, 229, 1);
    cursor: pointer;
} */

.modal__button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__button-confirm {
  background-color: rgba(255, 101, 101, 1);
}

.modal__button-confirm:hover {
  background-color: rgba(255, 51, 51, 1);
}

.modal__button-cancel {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(33, 33, 33, 1);
}

.modal__button-cancel:hover {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
}

.modal__submit-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__button_disabled {
  background-color: rgba(33, 33, 33, 0.5);
  cursor: default;
}

.modal__button_disabled:hover {
  background-color: rgba(33, 33, 33, 0.5);
}

.modal__close-button {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 50px;
  top: 32px;
  border: none;
  background-color: white;
  cursor: pointer;
  opacity: 40%;
}

.modal__label {
  color: rgba(33, 33, 33, 0.7);
  line-height: 1.1rem;
}

.modal__close-button:hover {
  opacity: 100%;
}

.modal__input {
  box-sizing: border-box;
  width: 100%;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 8px;
  cursor: pointer;
}

.modal__input_error {
  border-color: rgba(255, 0, 0, 0.6);
  margin-bottom: 8px;
}

.modal__input_error:focus {
  border-color: rgba(255, 0, 0, 0.8);
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__input_type_error {
  display: none;
  color: #ff0000;
  font-weight: 500;
  height: 18px;
}

.modal__error_visible {
  display: contents;
}

.modal__container_preview {
  display: grid;
  grid-template-columns: 1f min-content;
  grid-template-rows: 1f min-content;
  grid-template-areas:
    "image close-button"
    "title .";
  column-gap: 12.57px;
}

#preview-modal__close {
  grid-area: close-button;
  position: static;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#preview-modal__close:hover {
  opacity: 100%;
}

.modal__close-icon {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
}

.modal__title_preview {
  margin: 8px 0 0 0;
  padding: 4px 8px;
  border-radius: 4px;
  height: 2rem;
  width: max-content;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 1.25rem;
  justify-self: left;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: baseline;
  grid-area: title;
}

.modal__preview-image {
  margin: 0;
  padding: 0;
  grid-area: image;
  align-self: center;
  justify-self: center;
  max-width: 80vw;
  max-height: 80vh;
}

@media screen and (max-width: 500px) {
  .modal__container {
    width: 94%;
    min-width: 300px;
    padding: 24px 12px;
  }

  .modal__form {
    gap: 24px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-icon {
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
  }

  .modal__input {
    font-size: 1rem;
    line-height: 1rem;
  }

  .modal__title {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  .modal__submit-button {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
  }

  .modal__container_preview {
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: min-content 1f min-content;
    grid-template-areas:
      "close-button"
      "image"
      "title";
    column-gap: 0;
  }

  .modal__close-button_preview {
    justify-self: right;
  }

  .modal__title_preview {
    font-size: 1rem;
    height: 27px;
  }

  #preview-modal__close {
    justify-self: right;
  }
}
